Cython>=0.29.13                                                                                                                                                                               
-e git://github.com/CrazyPython/cobe.git#egg=cobe                                                                                                                                             
praw>=6.4.0